/* CSS Styling */

.navbar-brand {

    background-color: aqua;
    font-size: medium;
    padding-top: 15px;
    padding-bottom: 15px;




}

/* no period or hashtag; any tag (p-tag every paragraph) */
/* .class = navbar/brand/table */
/* # = i.d. one specific thing */



    